## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1 = []
while len(sample_list_1) < 80:
    sample_list_1.append(random.randint(0, 100))
print(sample_list_1)

[35, 40, 12, 19, 44, 79, 5, 18, 99, 23, 67, 7, 48, 94, 97, 98, 20, 98, 68, 73, 94, 27, 95, 63, 87, 72, 12, 8, 63, 20, 45, 16, 87, 22, 52, 12, 80, 12, 71, 23, 6, 80, 15, 15, 79, 74, 7, 86, 77, 64, 67, 46, 28, 72, 40, 14, 49, 26, 83, 37, 8, 25, 86, 68, 47, 17, 95, 72, 4, 78, 45, 38, 80, 30, 3, 3, 6, 31, 70, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
set1

{3,
 4,
 5,
 6,
 7,
 8,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 35,
 37,
 38,
 40,
 44,
 45,
 46,
 47,
 48,
 49,
 52,
 63,
 64,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 77,
 78,
 79,
 80,
 83,
 86,
 87,
 94,
 95,
 97,
 98,
 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2 = []
for x in range (0, 100):
    if len(sample_list_2) < 80:
        sample_list_2.append(random.randint(0, 100)) 
    else:
        break
print(sample_list_2)

[68, 94, 42, 23, 1, 85, 82, 28, 92, 17, 100, 68, 79, 47, 47, 76, 30, 71, 27, 7, 91, 47, 0, 58, 78, 54, 40, 83, 83, 8, 26, 76, 90, 15, 82, 15, 1, 2, 88, 77, 50, 2, 62, 29, 81, 96, 26, 15, 12, 62, 81, 32, 86, 66, 82, 36, 35, 99, 20, 57, 55, 93, 62, 51, 49, 13, 86, 7, 68, 62, 82, 46, 7, 88, 13, 92, 3, 33, 14, 2]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)
set2

{0,
 1,
 2,
 3,
 7,
 8,
 12,
 13,
 14,
 15,
 17,
 20,
 23,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 35,
 36,
 40,
 42,
 46,
 47,
 49,
 50,
 51,
 54,
 55,
 57,
 58,
 62,
 66,
 68,
 71,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 85,
 86,
 88,
 90,
 91,
 92,
 93,
 94,
 96,
 99,
 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here

set3= set1.difference(set2)
set3
#or
set3= set1 - set2
set3

{4,
 5,
 6,
 16,
 18,
 19,
 22,
 25,
 31,
 37,
 38,
 44,
 45,
 48,
 52,
 63,
 64,
 67,
 70,
 72,
 73,
 74,
 80,
 87,
 95,
 97,
 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
# Your code here
set4 = set2 - set1
set4

{0,
 1,
 2,
 13,
 32,
 33,
 36,
 42,
 50,
 51,
 54,
 55,
 57,
 58,
 62,
 66,
 76,
 81,
 82,
 85,
 88,
 90,
 91,
 92,
 93,
 96,
 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Your code here
# set intersection
set5 = set1.intersection(set2)
set5

{3,
 7,
 8,
 12,
 14,
 15,
 17,
 20,
 23,
 26,
 27,
 28,
 29,
 30,
 35,
 40,
 46,
 47,
 49,
 68,
 71,
 77,
 78,
 79,
 83,
 86,
 94,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [34]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

n1 = (len(set1))/(len(set2))
print("the relationship between len(set1) and len(set2) is:",  n1)
n2 = (len(set2))/(len(set3))
print("the relationship between len(set2) and len(set3) is:",  n2)
n3 = (len(set3))/(len(set4))
print("the relationship between len(set3) and len(set4) is:",  n3)
n4 = (len(set4))/(len(set5))
print("the relationship between len(set4) and len(set5) is:",  n4)

55
55
27
27
28
the relationship between len(set1) and len(set2) is: 1.0
the relationship between len(set2) and len(set3) is: 2.037037037037037
the relationship between len(set3) and len(set4) is: 1.0
the relationship between len(set4) and len(set5) is: 0.9642857142857143

#### Create an empty set called `set6`.

In [39]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [43]:
# Your code here
set6.update(set3, set5)
set6

{3,
 4,
 5,
 6,
 7,
 8,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 35,
 37,
 38,
 40,
 44,
 45,
 46,
 47,
 48,
 49,
 52,
 63,
 64,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 77,
 78,
 79,
 80,
 83,
 86,
 87,
 94,
 95,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [45]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
print("Does set1 contain set2? ", set2.issubset(set1))
print("Does set1 contain set3? ", set3.issubset(set1))

Does set1 contain set2?  False
Does set1 contain set3?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here
union1 = set3.union(set4, set5)
print("Union of set3, 4 and 5: ", union1)
union2 = set1.union(set2)
print("Union of set1 and 2: ", union2)

Union of set3, 4 and 5:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
Union of set1 and 2:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [58]:
# Your code here
print(set1)

set2list = list(set1)
print(set2list.pop(0))
print(set2list)

{3, 4, 5, 6, 7, 8, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 35, 37, 38, 40, 44, 45, 46, 47, 48, 49, 52, 63, 64, 67, 68, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 86, 87, 94, 95, 97, 98, 99}
3
[4, 5, 6, 7, 8, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 35, 37, 38, 40, 44, 45, 46, 47, 48, 49, 52, 63, 64, 67, 68, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 86, 87, 94, 95, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [61]:
# Your code here
list_remaining_els = []
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        list_remaining_els.append(i)
    else:
        continue
print(list_remaining_els)

[19, 29, 31, 49, 71, 79, 99]